*{
	margin: 0;
	padding: 0;
}
.cont{
	margin: 0;
    width: 100%;
    height: 800px;
    position: absolute;
	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;

}
.cont1{
	width: 70%;
	height: 500px;
	position: absolute;
	top: 15%;
	left: 15%;
	background: black;
	opacity: .9; 
}
.logo{
	width: 30%;
	position: absolute;
	top: 0;
	left: 40%;

}
.tit{
	width: 50%;
	position: absolute;
	top: 38%;
	left: 30%;

}
.menu{
	width: 70%;
	top: 450px;
	left: 25%;
	position: absolute;
	
	display: flex;
}
.op1,.op2,.op3,.a1,.a2{
width: 70%;
color: white;
text-align: center;
font-family: verdana;
font-size: 23px;
text-decoration:none;

}
.a1 :hover{
	color: red;
	cursor: pointer;
	font-size: 25px;

}
.a2 :hover{
	color: blue;
	cursor: pointer;
	font-size: 25px;

}
.contP{
	margin: 0;
	width: 100%;
	background: white;

}
.head{
	margin: 0;
	z-index: 1;
    width: 100%;
    height: 200px;
    position: fixed;
	background-image: url('../img/ban2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
	border-radius-bottom: 10%;
}
.logo1{

width:13%;
position: absolute;
top: 10px;
left: 25px;
}
.contacto{
	
	width: 30%;
	position: fixed;
	padding-top: 10px;
	top:140px;
	left: 850px;
	color: white; 
	z-index: 1;
	text-decoration: none;
}
.tel{
	margin-bottom: 25px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	background: black;
}
.tel:hover{
	text-decoration: none;
	color: white;
	background: none;
	font-size: 18px;
}


.lista{
	position: fixed;
	top: 150px;
	margin: auto;
	width:100%;
	font-family: verdana;
	z-index: 1;

}
ul,li{
	list-style: none;

}
.nav li a{
	background-color: black;
	color: white;
	padding: 10px 30px;
	display: block;
	text-decoration:none;

}
.nav li a:hover{
	background-color: red;
	border-radius: 5px;
	
}
.nav > li{
	float: left;
	z-index: 1;


}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;

}
.nav li:hover >ul{
	display: block;
	z-index: 1;
}
.nav li ul li{
	position: relative;
}

.anuncio{
	position: absolute;
	width: 100%;
	height: 300px;
	top: 270px;
}
.anun{
	width: 55%;
	height: 280px;
	position: absolute;
    z-index: -1;
	left: 3% ;
	border-radius: 10px;
}
.anun1{
	width: 35%;
	height: 280px;
	position: absolute;
	z-index: -1;
	left: 60%;
	border-radius: 30px;
}

.galeria{
	width: 100%;
    display: block;
    position: absolute;
    top: 600px;
    margin: 0;
}
.cuadro{
	width: 95%; 
	margin: auto;
	margin-top: 10px;
	left: 0;
	padding-bottom: 15px;}
.g{
	width: 20%;
	z-index: -1;
	padding-bottom: 25px;
	padding-left: 25px;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-top: 1%;
	color: black;
	font-weight: bolder;
	font-size: 1.2rem;
	-webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
	box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
.g:hover{

	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.elem{
	width: 250px;
	height: 250px;
	position: relative;
	padding: 2px;border-radius: 50%;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
.elem:hover{
	border-radius: 0;
}
.info{
   
  font-family: verdana;
   font-size: 12px;
  text-align: center;
}
.pie{

	width: 100%;
	height: 350px;
	color: white;
	position: relative;
	display: flex;
	background-color: black;
	font-family: verdana;


}
.produc{
 margin: 10px;
 width: 30%;
 height: 270px;
 padding: 20px;
}
.infor{
width:70%;
margin: 25px;
padding-top: 50px;
}
.redes{
width: 35%;
padding-top: 5%;
margin: 10px;
}
.infor h1{
	font-size: 18px;
	text-align: center;
}
.infor h2{
	font-size: 15px;
	text-align: center;
}
.produc h3{

		font-size: 10px;
}
.redes h1{
  font-size: 15px;
	text-align: center;
}
.redes h2{
  font-size: 15px;
	text-align: center;
}
.r{
	padding-top: 10px;
	width: 80%;
	font-size: 13px;
}
.p,.red{
	text-decoration: none;
	color: white;
}
.p:hover{
	color: #040A85
}
 

@media(min-width: 320px) and (max-width: 768px) { 
	*{
		margin: 0;
		padding: 0;
	}
 .cont{
	margin: 0;
    width: 100%;
    position: absolute;
	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;

}
.cont1{
	width: 90%;
	height: 500px;
	position: absolute;
	top: 10%;
	left: 20px; 
}

.logo{
	width: 50%;
	position: absolute;
	top: 0;
	left: 100px;

}
.tit{
	width: 70%;
	position: absolute;
	top: 35%;
	left: 60px;

}
.menu{
	width: 98%;
	top: 380px;
	left: 20px;
	position: absolute;
	
	display: flex;
}
.a1 :hover{
	color: red;
	cursor: pointer;
	font-size: 15px;

}
.a2 :hover{
	color: blue;
	cursor: pointer;
	font-size: 17px;

}
.op1,.op2,.op3,.a1,.a2{
width: 70%;
color: white;
text-align: center;
font-family: verdana;
font-size: 15px;
text-decoration:none;

}
.contP{
	margin: 0;
	width: 100%;
	background: white;

}
.head{
	margin: 0;
    width: 100%;
    height: 150px;
    position: fixed;
	background-image: url('../img/ban2.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	
}

.logo1{

width:15%;
position: fixed;
top: 5px;
left: 8px;
}
#m{
	font-size: 25px;
	color: white;
	position: absolute;
	top: 100px;
	left: 20px;
	z-index: 1;
}



.lista{

	position: absolute;
	background: black;
	top: 145px;
	left: -500px;
	margin: auto;
	width:30%;
	font-family: verdana;
	font-size: 13px;
	z-index: 1;

}
.mostrar{
    top: 145px;
    left: 0;
    position: fixed;
}
.contacto{
	
	width: 60%;
	position: fixed;
	top:90px;
	left: 120px;
	color: white; 
	z-index: 1;
	text-decoration: none;
}
.tel{
	text-decoration: none;
	color: white;
	font-size: 10px;
	background: black;
}
.tel:hover{
	text-decoration: none;
	color: white;
	background: none;
	font-size: 13px;
}


.nav{
	display: block;
}
.nav li a{
	background-color: black;
	color: white;
	padding: 10px 20px;
	
	text-decoration:none;

}
.nav li:active >ul{
	display: block;
	float: left;
	z-index: 1;
}
.nav li ul li{
	position: relative;
	left: 80px;
}

.anuncio{
	position: absolute;
	width: 98%;
	height: 500px;
	top: 190px;
}
.anun{
	width: 100%;
	left: 0;
	height: 250px;
	position: absolute;

	z-index: -1;
	
}
.anun1{
	width: 80%;
	height: 200px;
	position: absolute;
	z-index: -1;
	top: 260px;
	left: 40px;
	border-radius: 30px;
}


.galeria{
	width: 100%;
    display: block;
    position: absolute;
    top: 650px;
   
   
    

}
.cuadro{
	
	width: 80%;
	position: relative;
	left: 50px;
	
	display: inline-block;

	
	
}
.g{
	margin-left: 20px;
	width: 85%;
	vertical-align: top;
	margin-left: 1%;
	
	color: black;
	font-weight: bolder;
	font-size: 1.2rem;
	margin-top: 5%;
	
	-webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
	box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;


}
.elem{
	width: 250px;
	height: 250px;
	margin:0 auto;
	border-radius: 50%;
	padding: 1.2%;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
.elem:hover{

	border-radius:0;

}
.info{
	
	width: 90%;
  font-family: verdana;
  font-size: 12px;
  

}
.pie{

	width: 100%;
	height: 700px;
	color: white;
	position: relative;
	display: inline-block;
	background-color: black;
	font-family: verdana;


}
.produc{
 margin: 0;
 width: 98%;
 height: 270px;
 padding: 20px;
}
.infor{
width:98%;
margin: 0;
padding:15px;
}
.redes{
width: 98%;
margin: 0;
}
.infor h1{
	font-size: 18px;
	text-align: center;
}
.infor h2{
	font-size: 10px;
	text-align: center;
}
.produc h3{

		font-size: 10px;
		text-align: center;
}
.redes h1{
  font-size: 13px;
	text-align: center;
}
.redes h2{
	padding: 5px;
  font-size: 13px;
	text-align: center;
}


}



