*{
	margin: 0;
	padding: 0;
}
.contP{
	margin: 0;
	width: 100%;
	background: white;

}
.head{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/ban2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headPl{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/playera.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headC{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/camisa.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headP{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/pantalon.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headS{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/saco.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headCo{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/corbata.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headM{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/moño.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}
.headT{
	margin: 0;
    width: 100%;
    height: 250px;
    position: absolute;
	background-image: url('../img/tirantes.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  right;
}

.logo1{

width:13%;
position: absolute;
top: 20px;
left: 25px;
}


.lista{
	position: absolute;
	top: 200px;
	margin: auto;
	width:100%;
	font-family: verdana;
	z-index: 1;

}
ul,li{
	list-style: none;

}
.nav li a{
	background-color: black;
	color: white;
	padding: 10px 30px;
	display: block;
	text-decoration:none;

}
.nav li a:hover{
	background-color: red;
}
.nav > li{
	float: left;
	z-index: 1;


}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;

}
.nav li:hover >ul{
	display: block;
}
.nav li ul li{
	position: relative;
}


.galeria{
	width: 100%;
    display: block;
    position: absolute;
    top: 300px;
    margin: 0;
    

}
.cuadro{
	
	width: 94%;
	display: flex;
	margin: 30px;
	left: 0;
	padding-left: 10px;
	
	}
.g{
	margin-left:10px;
	padding: 20px;
	width: 100%;
	
	border: .3px solid #000;


}

.elem{
	width: 110%;
	height: 300px;
	position: relative;
	left: -15px;
	padding: 2px;
}

.info{
  font-family: verdana;
  font-size: 12px;
  text-align: center;
}
.marca{
	width: 100%;
	position: absolute;
	top: 270px;
	left: 180px;
	display: flex;
	
}
a{
	text-decoration: none;
}

a .m{
	font-family: verdana;
	font-size: 25px;
	color: black;
	padding-left: 70px;
	
	
}
a .m:hover{

	color: #D81E15;
}
.numpag{

	width: 20%;
	height: 70px;
	margin-left: 500px;
	position: relative;
	display: flex;

	
}
.dnum{
	
  width: 5%;
  padding-left: 50px;
  font-size: 25px;
  height: 60px;
  text-decoration: underline;
  color: black;

}

.pie{

	width: 100%;
	height: 350px;
	color: white;
	position: relative;
	display: flex;
	background-color: black;
	font-family: verdana;


}
.produc{
 margin: 10px;
 width: 30%;
 height: 270px;
 padding: 20px;
}
.infor{
width:70%;
margin: 25px;
padding-top: 50px;
}
.redes{
width: 35%;
margin: 10px;
}
.infor h1{
	font-size: 18px;
	text-align: center;
}
.infor h2{
	font-size: 15px;
	text-align: center;
}
.produc h3{

		font-size: 10px;
}
.redes h1{
  font-size: 15px;
	text-align: center;
}
.redes h2{
  font-size: 15px;
	text-align: center;
}



@media(min-width: 320px) and (max-width: 768px) {

*{
	margin:0;
	padding:0;
}

.contP{
	margin: 0;
	width: 100%;
	background: white;

}
.head{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/ban2.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	
}

.headPl{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/playera.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	background-position:  right;
}
.headC{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/camisa.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	background-position:  right;
}
.headP{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/pantalon.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	background-position:  right;
}
.headS{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/saco.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;;
	background-position:  right;
}
.headCo{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/corbata.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	background-position:  right;
}
.headM{
	margin: 0;
    width: 100%;
    height: 150px;
    position: absolute;
	background-image: url('../img/moño.png');
	background-repeat: no-repeat;
	background-size: 450px 150px;
	background-position:  right;
}
.logo1{

width:15%;
position: absolute;
top: 25px;
left: 10px;
}


.lista{
	position: absolute;
	top: 145px;
	margin: auto;
	width:100%;
	font-family: verdana;
	font-size: 13px;

}
.nav li a{
	background-color: black;
	color: white;
	padding: 10px 13px;
	display: block;
	text-decoration:none;

}

.anuncio{
	position: absolute;
	width: 100%;
	height: 500px;
	top: 190px;
}
.anun{
	width: 100%;
	left: 0;
	height: 250px;
	position: absolute;

	z-index: -1;
	
}
.anun1{
	width: 80%;
	height: 200px;
	position: absolute;
	z-index: -1;
	top: 260px;
	left: 40px;
	border-radius: 30px;
}


.galeria{
	width: 100%;
    display: block;
    position: absolute;
    top: 200px;
   
   
    

}
.cuadro{
	
	width: 90%;
	display: inline-block;

	
	
}
.g{
	margin-left: 1px;
	
	width: 80%;
	
	border: .3px solid #000;


}
.elem{
	padding-left:20px;
	margin-left: 25px;
	width: 80%;
	position: relative;
}

.info{
  font-family: verdana;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;

}
.marca{
	width: 100%;
	position: absolute;
	top: 190px;
	left: 0px;
	display: flex;
	
}
a .m{
	width: 70%;
	height: 50px;
	font-size: 20px;
	padding-left: 13px;
	
	
}
.pie{

	width: 100%;
	height: 700px;
	color: white;
	position: relative;
	display: inline-block;
	background-color: black;
	font-family: verdana;


}
.produc{
 margin: 0;
 width: 98%;
 height: 270px;
 padding: 20px;
}
.infor{
width:98%;
margin: 0;
padding:15px;
}
.redes{
width: 98%;
margin: 0;
}
.infor h1{
	font-size: 18px;
	text-align: center;
}
.infor h2{
	font-size: 10px;
	text-align: center;
}
.produc h3{

		font-size: 10px;
		text-align: center;
}
.redes h1{
  font-size: 13px;
	text-align: center;
}
.redes h2{
	padding: 5px;
  font-size: 13px;
	text-align: center;
}

}
